blinker
click
Flask
importlib_metadata
itsdangerous
Jinja2
MarkupSafe
Werkzeug
zipp
flask-wtf
flask-limiter
email_validator
google.generativeai
google
google.genai
pymongo
PyPDF2
transformers
sentence-transformers
Gunicorn
